ul{
  text-align: right;
  background-color:rgba(0, 0, 0, 0.75);

}
li{
  list-style: none;
  display:inline-flex;
  margin-right: 40px;
  font-size: 16px
}

#Ayman {
  color: white;
  font-size: 20px;
  float: left;
  padding: 8px;
}
a{
  color:orange;
  padding: 10px;
}

a:hover{
  text-decoration: none;
  color:#3A3A3A;
  transition-duration: 0.25s;
}

header {
  background: url("http://res.cloudinary.com/aymanxd/image/upload/v1485056457/kzvmepyfijs-dustin-lee_cwx2el.jpg") fixed;
  position: relative;
  z-index: -1;
  min-height: 800px;
  background-size: cover;
}

.centerbox {
  background-color:rgba(0, 0, 0, 0.90);
  padding: 20px;
  margin-bottom: auto;
  margin-top: -500px;
  text-align: center;
  width: 500px;
}

.box {
  display: flex;
  justify-content: center;
}

.name {
  font-size: 40px;
  color:white;
}

.subtitle {
  margin-top: 0px;
  font-size: 30px;
  color:white;
}

.social-links a {
  margin: 22px;
  font-size: 50px;
}

.title {
  text-align: center;
  margin-top: 0px;
  padding:20px;
  font-size: 40px;
  color:orange;
  text-transform: uppercase;
  font-weight:bold;
}

footer{
  padding-top: 2%;
  padding-bottom:2%;
   text-align: center;
   background-color:rgba(0, 0, 0, 1);
   bottom: 0;
   color:white;
}

.email{
  margin-bottom: 20px;
}

main{
  background-color: #EDDDDD;
  padding: 0px 20px;
}

.About {
  padding-bottom: 30px;
  padding-top: 30px;
}
#Me {
  width: 280px;
}

.description {
  color:black;
  font-size: 24px;
}

h3 {
  font-size: 30px;
  font-weight: bold;
}
.Learned {
  font-size: 25px;
  color:black;
}

progress {
  width: 500px;
 font-size: .6em;
 line-height: 1.5em;
 text-indent: .5em;
 height: 1.8em;
 background: #fff;
}

progress::-webkit-progress-bar { background: #fff; }
progress::-webkit-progress-value { background: #FABC77; }

#Portfolio {
  margin-top: 28px;
  margin-bottom: 40px;
}

#title-p {
  margin-bottom: -20px;
}

.Portfolio_title {
  list-style: none;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

/* Drop down Portfolio  */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.75);
    min-width: 195px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 8.5px;
}

.dropdown-content a {
    color: orange;
    padding: 12px 10px 18px 10px;
    text-decoration: none;
    display: block;
    float:left;
}

.dropdown-content a:hover {
  background-color: black;
  width:195px;
  display:flex;
  justify-content: flex-start;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* drop down portfolio end */

  @media (max-width:1000px) {
    #Me {
      margin-left: 240px;
    }
    .description {
      font-size: 20px;
    }
    .Learned {
      font-size: 20px;
      margin-left: 60px;
    }
  }

  @media (max-width:600px) {
    ul{
      text-align: center;
    }
    li {
      font-size: 14px;
      margin-right: 0px;
    }
    .dropdown-content {
      margin-top: 8px;
    }
    .centerbox {
      margin-bottom: auto;
    }
    h3 {
      font-size: 25px;
    }
    #Me {
      margin-left: 40px;
      margin-bottom: 20px;
    }
    .description {
      font-size: 20px;
    }
    .Learned {
      font-size: 20px;
      margin-left: 60px;
    }
    progress{
      width:300px;
      float: right;
    }
    a{
      padding: 10px;
    }
    .email {
      font-size: 25px;
    }
    .social-links a{
      font-size: 40px;
      margin: 0px;
    }
  }
